/* Layout */

:root {
  --primary-color: #111010fd;
  --secondary-color: #629938;
  --text-color: white;
  --accent: #8286ed;
  --darkerAccent: #5053A5;
  --lighterAccent: #A5A7DB;

  --nav-height: 64px;
  --footer-height: 64px;

}

@font-face {
  font-family: "Monocraft";
  src: url(assets/fonts/Monocraft.ttf) format("trueType");
}

@font-face {
  font-family: "georgia";
  src: url(assets/fonts/Georgia.ttf) format("trueType");
}

::selection {
  color: var(--primary-color);
  background: var(--accent);
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: var(--primary-color);
  background: var(--accent);
  /* Gecko Browsers */
}

* {
  font-family: "Helvetica";
}

html {

  scrollbar-gutter: stable;
}

body {
  background-color: var(--primary-color);
  overflow-x: hidden;
  color: var(--text-color);
  overflow-y: auto;
  margin: 0;
}

a {
  color: var(--accent);

  transition: color ease .65s;
}

a:hover {
  color: var(--secondary-color);
}

a:visited {
  color: var(--darkerAccent);
}



button {
  transition: background-color .65s ease, color .65s ease;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  color: var(--primary-color);
}

.medBigNav {
  background-color: var(--secondary-color);
  height: 60px;
}

nav.smallNav {
  background-color: var(--secondary-color);
}

.navbar-brand {
  /* padding: 5px 5px 0 5px; */
  margin-left: 20px;
  width: 55px;
  height: auto;
}

.navbar-toggler {
  margin-right: 20px;
}

.nav-link {
  padding-left: 25px;
  transition: background-color 0.6s ease;
}

.nav-link:active,
.nav-link:hover {
  background-color: #ffffff42;
}

.main {
  display: flex;
  flex-direction: column;
  margin: calc(var(--nav-height) + 10px) 20px calc(var(--footer-height) + 10px) 20px;


}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: "georgia";
  font-size: 40px;
  color: var(--secondary-color);
}

h2 {
  font-family: "georgia";
  font-size: 35px;
  color: var(--accent);
}

p {
  color: var(--text-color);
  /* font-size: 100%; */
}

/* .pageTitle{
    margin-left: 10px;
    position: fixed;
    top:30px;
    font-size: 25px;
    color:var(--secondary-color);
    z-index:1;
} */

/* #titleDiv {
  margin-bottom: 50px;
  position: relative;
  top: 60px;
  color: var(--primary-color);
}
.titleDivBackground {
  width: fit-content;
  height: auto;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--secondary-color);
} */



/* #topContent {
  display: flex;
  position: relative;
  top: 10px;
  color: var(--secondary-color);
  justify-content: space-between;
  margin-right: 60px;
} */

/* Screen Sizes */
/* @media (max-width: 768px) { */
/*   #aboutMe { */
/*     padding-top: 90px; */
/*   } */
/* } */

/* @media (max-width: 540px) {
  .navbar-toggler {
    margin-right: 10%;
  }
} */
