{% extends "htmlManager/layout.html" %}
{% load static %}
{% block content %}

<div class="alert-box color hidden ">
    Copied to Clipboard
</div>

<div class="contactList" style="margin:0; position: relative; top: 70px">
    
        <div class="contactButtonDiv"> 
            <button id ="emailButton" class="contactButton" onclick="copyText()">juanhilario5645@gmail.com</button>
        </div>
    
        <div class="contactButtonDiv">
            <a target="_blank" href="https://www.linkedin.com/in/juan-hilario-884b0b23a/">
                <button role="" class="contactButton" >My LinkedIn</button>
            </a>
        </div>
    
        <div class="contactButtonDiv">
            <a target="_blank" href="https://github.com/Juan-Hilario">
                <button role="" class="contactButton" >My Github</button>
            </a>
        </div>
</div>



{% endblock %}
  