{% extends "htmlManager/layout.html" %}
{% load static %}
{% block p %}


<div style="width: fit-content; position:relative; margin:0 auto;border-style:solid;border-color: rgb(168, 127, 24); border-width: 40px;" >
    <div style="width: fit-content; position:relative; margin:0 auto; border-style:solid;border-color: goldenrod; border-width: 20px;">
        <img src="{% static '/assets/img/IMG_1040.jpeg' %}" alt="Me And My Sweet, Beautiful Girlfriend" height="auto" width="370px">
    </div>
</div>

<div class="contentStyle1">
    <p>
        I am a undergraduate in Montclair State University majoring in computer science. 
        I want to become a web developer, but I have some progress to make. 
        My main goal at the moment is to get an internship to fill my lackluster résumé.
        Whilst doing that I am trying to fill this page with some projects that I will work on and also work on getting certificates.
        I have a long way to go, but I am ✨learning✨.
    </p>
</div>

{% endblock %}
 