{% extends "htmlManager/layout.html" %}

{% block p %}
<img src="" alt="">
<p style="color: white; font-size: 20px; margin-left: 5%;margin-right: 5%; margin-top:5%">
    I am a undergraduate in Montclair State University majoring in computer science. 
    I want to become a web developer, but I have some progress to make. 
    My main goal at the moment is to get an internship to fill my lackluster résumé.
    Whilst doing that I am trying to fill this page with projects that I have worked on and work on getting certificates.
</p>
{% endblock %}
 