{% extends "htmlManager/layout.html" %} {% load static %} {% block content %}
<div id="aboutMe">
  <div id="topContent">
    <div class="subHeading">about me</div>
    <!-- <div class="portrait">
        <figure>
        <div
          style="
            width: fit-content;
            border-style: solid;
            border-color: goldenrod;
            border-width: 15px;
          "
        >
          <div
            style="
              width: fit-content;
              margin: 0 auto;
              border-style: solid;
              border-color: rgb(168, 127, 24);
              border-width: 20px;
            "
          >
            <img
              src="{% static '/assets/img/IMG_1118.jpg' %}"
              alt=""
              height="auto"
              width="250px"
            />
          </div>
        </div>
                <figcaption style="text-align:center; color: white;">Me and My Sweet, Beautiful Girlfriend</figcaption>
      </figure> 
    </div> -->
  </div>

  <div class="contentStyle1">
    <p>
      I am a undergraduate in Montclair State University majoring in computer
      science. I want to become a web developer, but I have some progress to
      make. My main goal at the moment is to get an internship to fill my
      lackluster résumé. Whilst doing that I am trying to fill this page with
      some projects that I will work on and also work on getting
      certificates.<br />
      I have a long way to go, but I am ✨learning✨.
      <br />
      <div style="margin-left: 10%;">-Juan</div>
    </p>
  </div>
</div>
<div id="Portfolio">
  <div>
    <div class="subHeading">portfolio</div>
    <p class="noContentStyle">
      Nothing yet... <br />See what I might be working on @
      <a href="https://github.com/Juan-Hilario">GitHub</a><br /><br />
      <img
        style="height: 250px"
        src="{% static '/assets/img/notHappy.png' %}"
        alt=""
      />
    </p>
  </div>

  <!-- <div style="position: absolute; top:50%; right:0;left:50%;">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" id="item1">
                  <img class="d-block " src="{% static '/assets/img/IMG_1040.jpeg' %}" width="500px" height="auto" alt="First slide">
                </div>
                <div class="carousel-item" id="item2">
                  <img class="d-block " src="{% static '/assets/img/IMG_1040.jpeg' %}" width="500px" height="auto"  alt="Second slide">
                </div>
                <div class="carousel-item" id="item3">
                  <img class="d-block " src="{% static '/assets/img/Clipboard_Icon.png' %}" width="500x" height="auto"  alt="Third slide">
                </div>
              </div>
                  <a class="prev" onclick="prev()" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                   </a>
                  <a class="next" onclick="nextOne()" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                  </a>
      
                  <script>
                      const prev= document.querySelector(".prev");
                      const next= document.querySelector(".next");
                      const carouselItem= document.querySelector(".carousel-item");
                     
                  
                      function nextOne(){
                          carouselItem.classList.remove("active");
                          carouselItem.classList.add("active");
                      }
                  </script>   
            </div>
      </div> -->
</div>

<div id="Contact">
    <div class="subHeading">contact me @</div>
  <div class="alert-box color hidden">Copied to Clipboard</div>

  <div class="contactList" >
    <div class="contactButtonDiv">
      <button id="emailButton" class="contactButton" onclick="copyText()">
        juanhilario5645@gmail.com
      </button>
    </div>

    <div class="contactButtonDiv">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/juan-hilario-884b0b23a/"
      >
        <button role="" class="contactButton">My LinkedIn Profile</button>
      </a>
    </div>

    <div class="contactButtonDiv">
      <a target="_blank" href="https://github.com/Juan-Hilario">
        <button role="" class="contactButton">My Github Page</button>
      </a>
    </div>
  </div>
</div>
{% endblock %}
