{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href= "{% static 'styles.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body style="background-color:#432109">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <div class="row" id="sitelinks" style="background-color: goldenrod;">
            <div class="col-md-4 col-sm-2 text-center"><a href={% url 'index' %} class="navigation" >Home</a></div> 
            <div class="col-md-4 col-sm-2 text-center"><a class="navigation"  href={% url 'profolio' %}>Profolio</a></div> 
            <div class="col-md-4 col-sm-4 text-center"><a class="navigation"  href={% url 'contactInfo' %} >Contact/Info</a></div>
        </div>
        {% block p %}
    
        {% endblock %}
        
    </body>
</html>