:root{
    --primary-color:#111010fd;
    --secondary-color: #FFD700;
    --text-color:white;
}
@font-face {
    font-family: "Rubik";
    src: url(assets/fonts/RubikMaps.ttf) format("trueType");
}
@font-face{
    font-family: "Monocraft";
    src: url(assets/fonts/Monocraft.ttf) format("trueType");
}
*{
    font-family:"Monocraft";
}
body{
    background-color: var(--primary-color);
    overflow-x:hidden;/* Makes it so there cannot be a horizontal scroll bar */
    color:var(--text-color);
}
.navbar{
    position:fixed;
    width:100%;
    z-index:7;
    color:var(--primary-color);

}
.medBigNav{
    background-color: var(--secondary-color);
    height: 30px;
}
nav.smallNav{
    background-color: var(--secondary-color);
    height: 50px;
}

h1{
    color: var(--secondary-color)
}
.contactList{
    color: var(--text-color); 
    font-size: 20px; 
    margin-left: 5%;
    margin-right: 5%; 
    margin-top:5%;
    position:relative;
}

/* .pageTitle{
    margin-left: 10px;
    position: fixed;
    top:30px;
    font-size: 25px;
    color:var(--secondary-color);
    z-index:1;
} */

#titleDiv{
    margin-bottom: 20px;
    position: relative;
    top: 40px;
    color: var(--primary-color);
}
.titleDivBackground{
    width: fit-content;
    height: auto;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--secondary-color);
}
@media (max-width: 770px){
    #titleDiv{
        margin-bottom: 50px;
        position: relative;
        top: 60px;
    }
}
.contentStyle1{
    color: var(--text-color);
    position: relative;
    top: 60%;
    font-size: 25px; 
    margin-left: 5%;
    margin-right: 5%; 
    margin-top:5%
}

.contactButton{
    border-width: 7px; 
    border-color:white; 
    background-color: var(--primary-color); 
    color:var(--secondary-color);
    border-radius: 10px;
}
.contactButtonDiv{
    padding:10px;
}

.alert-box{
    position:absolute;
    right: 0px;
    font-size: 20px;
    padding:15px 15px 15px 15px;
    border-radius: 26px;
    text-align: center;
    z-index:10;
}
.alert-box.color{
    background-color: var(--secondary-color);
    color: var(--text-color); 
}
.alert-box.hidden{
    background-color: transparent;
    color: transparent;
}
.alert-box .close-alert{
    position: absolute;
    right: 10px;
    top:15px;
    cursor: pointer;
    z-index: 11;
}

.alert-box.show{
    animation: showAlert 1s ease forwards ;
}

@keyframes showAlert {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%); 
    }
}
.alert-box.hide{
    animation: hideAlert 3s ease forwards ;
}
@keyframes hideAlert {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%); 
    }
}

.subHeading{
    font-size: 50px;
    position: relative;
    top: 240px;

}
#topContent{
    display: flex;
    position: relative;
    top: 10px;    
    color: var(--secondary-color);
    justify-content: space-between;
    margin-right: 60px;
}

@media (max-width: 546px){
    .contentStyle1{
       font-size:85%;
    }
    .subHeading{
        font-size: 99%;
    }
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
}
.socialsCirc{
    border: 1px solid #0F1C3F;
    
    background-color: var(--primary-color);
    width: 60px;
    height:60px;
    border-radius: 50%;
    margin: 3px 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}