#aboutMe {
  padding-top: 50px;
  display: flex;
  scrollbar-width: none;
}

.content {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  flex: 2;
  top: 0;
}

.content p {
  text-indent: 2em;
}


hr {
  /* border-top: white solid; */
  margin: 0;
  margin-bottom: 1rem;
  width: 90%;
}

/* @media screen and (orientation: landscape) { */
/*   #aboutMe { */
/*     flex-direction: row; */
/*     gap: 20px; */
/*   } */
/* } */

/* @media screen and (orientation: portrait) { */
#aboutMe {
  flex-direction: column;
  gap: 20px;
}

/* } */
