.nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px 0 0 10px;
  width: fit-content;
  height: var(--nav-height);
  z-index: 101;
  background: rgba(98, 153, 56, .5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(98, 153, 56, .5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  padding: 4px;
}

.nav:hover {}

.navRight {
  display: flex;
  align-items: center;
  gap: 10px;

}

.logo {
  height: 3.5em;
  width: 3.5em;
  padding: .5em;
  transition: filter 1s ease;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--lighterAccent));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--lighterAccent));
}

.links {
  align-self: stretch;
  display: flex;
  gap: 10px;
  align-items: center;
}

.link {
  /* align-self: stretch; */
  color: var(--text-color);
  height: 30px;
  padding: 2px 4px;
  border: none;
  border-radius: 8px;
  background-color: var(--darkerAccent);
}

/* .link:hover { */
/*   background-color: rgba(255, 255, 255, .10); */
/* } */

.link.secret {
  background: none;
  border: none;
  padding: 0;
  font-size: 1.3em;
  color: transparent;
}

.link.secret:hover {
  color: var(--accent);
}

.hamburgerBtn {
  background: none;
  border: none;
  border-radius: 8px;
  color: var(--primary-color);
  transition: background-color .25s ease;
  font-size: 2em;
  line-height: normal;
  margin-right: 4px;
  transform: rotate(0);
  transition: transform .25s ease;

}

.hamburgerBtn:active {
  background-color: rgba(255, 255, 255, .10);
}

/* .hamburgerBtn.toggled { */
/*   transform: rotate(90deg); */
/* } */

@media screen and (min-width: 301px) {
  .hamburgerBtn {
    color: var(--secondary-color);
  }
}

.expandedLinks {
  display: flex;
  flex-direction: column;
  background: #568333;
  position: absolute;
  width: 100%;
  /* padding-top: 2px; */
  top: 64px;
  left: 0;
  transform-origin: top;
  transform: scaleY(0);

  transition: transform .25s ease;

}

.expandedLinks.expanded {
  transform: scaleY(1);
}



.expandedLinks .link {
  width: 100%;
  text-align: left;
}
