/* .skills { */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-self: center; */
/*   /* justify-content: start; */
/*   background-color: black; */
/*   padding: 10px; */
/*   border-radius: 8px; */
/* } */
/**/

.skills {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  align-self: center;
  background-color: black;
  padding: 10px;
  border-radius: 8px;
}

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
  transition: text-shadow ease .5s;
  font-family: "Courier New"
}

.skill:hover {
  text-shadow: 0 0 5px, 0 0 10px, 0 0
}
