.timelineSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.timelineSection .content {
  background: rgba(255, 255, 255, .03);
  border-radius: 10px;
  padding: 20px;
}

.timeline {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}

.timelineTitle {
  font-size: 4vw;
  position: sticky;
  display: grid;
  justify-items: center;
}

.timelineTitle h2 {
  color: var(--secondary-color);
}

.timelineDate {
  color: var(--text-color);
  opacity: .5;
}

.linkBtn {
  fill: var(--secondary-color);
  cursor: pointer;
}

.timelineEvent {
  flex-direction: column;
  display: flex;
  gap: 5px;

}

@keyframes slowBlink {
  50% {
    opacity: 80%;
  }
}

.timeline.solo {
  justify-content: center;
}

/* Node and Line */

.nodeWrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  width: calc(100vw - 40px);
}

.node {
  display: grid;
  background-color: #423941;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  align-content: end;
  animation: slowBlink 1s linear infinite;
}

.nodeLabel {
  text-align: center;
}

.line {
  position: relative;
  top: 0;
  z-index: -1;
  background-color: #423941;
  height: 10px;
  width: 100%;
}

.timeline.solo .nodeWrapper {
  display: none;
}

/* Work History Details */

.companyName {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;
}

.companyLogo {
  width: 20%;
  max-width: 100px;
}

.jobDesc {
  width: 80%;
  max-width: 950px;
}
